<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="John.SocialClub.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SocialClubDBConnection"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;&#xD;&#xA;        Data Source=|DataDirectory|\SocialClub.accdb;Persist Security Info=True"

        providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <John.SocialClub.Desktop.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>demo123</value>
      </setting>
    </John.SocialClub.Desktop.Properties.Settings>
  </userSettings>
</configuration>